@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<center>
<div style="margin-top:20px;">
    <h2 class="error-payment">
        Sorry, an error occurred while processing your request
    </h2>
    @*<div class="error-message-div">
        <div class="inside-message-div">
            Message
        </div>
        <h4 class="error-payment" style="padding: 10px;">@Model.Exception.Message</h4>
    </div>*@
    

</div>
</center>



